<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.berber.berberapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB_sUp8N7g2Z_s030VdARvgz6S6naiNlBw" />

        <activity
            android:name=".Activities.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SignActivity"
            android:label="Iniciar Sesión"
            android:theme="@style/Theme.Design.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize|stateHidden" />
        <activity
            android:name=".Activities.CartActivity"
            android:label="Carrito" />
        <activity
            android:name=".Activities.SummaryActivity"
            android:label="Desglose" />
        <activity
            android:name=".Activities.SendActivity"
            android:label="Enviar" />
        <activity
            android:name=".Activities.BeerDetailActivity"
            android:label="Detalles" />
        <activity
            android:name=".Activities.AccountActivity"
            android:label="Cuenta" />
        <activity android:name=".Activities.ContactActivity"
            android:label="Contacto"/>
        <activity android:name=".Activities.FAQActivity" />
        <activity
            android:name=".Activities.SignUpActivity"
            android:theme="@style/Theme.Design.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize|stateHidden" />
        <activity android:name=".Activities.SellingPointsDetailActivity"
            android:label="Puntos de Venta"></activity>
    </application>

</manifest>